# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
*.sqlite3

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Python packages
*.egg
*.egg-info/
dist/
build/

# Backup files
*.bak
*.swp
