SQLAlchemy==2.0.36
Flask-SQLAlchemy==3.0.3
mysql-connector-python==8.0.33
Flask==3.0.3
PyPDF2==3.0.1
python-dotenv==1.0.1
pymupdf
pytesseract
python-dateutil==2.9.0.post0
Flask-Cors==3.0.10
gunicorn
firebase-admin
cryptography
PyJWT
requests
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth
